.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 2rem; 
}


.Resume{
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: rgb(123, 203, 230);
}

.formBtn {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: rgb(123, 203, 230);
  border: 1px solid rgb(46, 78, 174);
  margin: 2rem auto; 
}


.headLine{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: rgb(123, 203, 230);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 
    width: 90%;
    border: 2px solid rgb(0, 112, 149);
    height: 30rem;
    padding: 1%;
  }

  
  .input-group {
    margin-bottom: 20px;
    justify-content: center;
  }
  
  label {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 20px;

  }

  .inputS {
    
    width: 20rem;
    padding: 2%;
    box-sizing: border-box;
    border: 2px solid rgb(123, 203, 230);
    font-size: large;
  }
  
  .input {
    
    width: 60rem;
    padding: 2%;
    box-sizing: border-box;
    border: 2px solid rgb(123, 203, 230);
    height: 10rem;
    font-size: large;
  }

  /* profil */

  
  .box1{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
    column-gap: 10rem;

  }

  .inputP {
    width: 20rem;
    padding: 2%;
    box-sizing: border-box;
    border: 2px solid rgb(123, 203, 230);
    font-size: large;

  }

  .inputAbout {
    
    width: 60rem;
    padding: 2%;
    box-sizing: border-box;
    border: 2px solid rgb(123, 203, 230);
    height: 10rem;
    font-size: large;
  }

  /* work */

  .containerWork {
    border: 2px solid rgb(0, 112, 149);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 20rem;
    margin: 0 auto; 
    padding: 1%;

  }
  .inputWork {
    width: 20rem;
    padding: 2%;
    box-sizing: border-box;
    border: 2px solid rgb(123, 203, 230);
    font-size: large;

  }

  .inputRole {
    width: 60rem;
    padding: 2%;
    box-sizing: border-box;
    border: 2px solid rgb(123, 203, 230);
    height: 10rem;
    font-size: large;
  }

  .boxWork{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
    column-gap: 10rem;
  }
  

  /* education */

  .containerEducation {
    border: 2px solid rgb(0, 112, 149);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 20rem;
    margin: 0 auto; 
    padding: 1%;
    

  }
  